*{
    outline: none !important;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
header{
    position: relative;
    z-index: 1000000;   
    background: rgb(228, 225, 225) !important;
}

p{
    font-size: 1.15rem;
}
.navbar {
    background: #fff !important;
    transition: 1.5s;
}
.nav-link{
    padding: 0 30px !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:visited{
    color: rgba(75, 75, 75, 0.911);

}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited{
    color: rgba(75, 75, 75, 0.911);
    font-size: 2.5rem;
    font-weight: 600;
 }
 .container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    
}
.about-color{

    background-color: #F0F3F6;
}
.about-heading{
    text-align: left;
    text-transform: uppercase;
    margin-top: 12rem !important;
}

.about-heading h1{
    text-align:center !important;
    font-family: 'Cinzel', serif;
    font-size: 40px;

}
.about-heading p{
    margin: 70px !important;
    font-size: 20px !important;
    font-family: 'Lato', sans-serif;
}
.text{
 float: right;
}
#about{
    margin-top: 95px !important;
    height: 40rem !important;
    width: 70rem !important;
 
    padding-left: 0;
    padding-right: 0;
}

footer{
    background: #fff;
    padding: 50px 0 0;

}
.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
    margin: 0 10px;

}
.sci li a{
    color: #000;
    font-size: 1.2em;
    transition: 0.5s;
}
.sci li a:hover{
    color: rgb(56, 56, 56);
}
.cpryt{
    text-align: center;
    color: #777;
    margin-top: 20px;
}
.cpryt a{
    color: #777;
}   
.cpryt a:hover{
    color: rgb(56, 56, 56);
}
@media (min-width: 300px) and (max-width: 991.98px){
    .text{
        
        margin-top: 5rem !important;
    }
        
    #about{
        margin-top: 95px !important;
        height: 65vh !important;
        width: 100% !important;
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
    .about-heading p{
        margin: 0 auto !important;
        font-size: 12px !important;
        width: 100%;
    }
    
    h1{
        font-size: 2rem !important; 
        margin-bottom:20px !important;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .sci{
        
        font-size: 13px;
        margin-bottom:10px !important;
    }
    .cpryt{
        font-size: 12px;
    }
}