*{
    outline: none !important;
    scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
header{
    position: relative;
    z-index: 1000000;   
    background: rgb(228, 225, 225) !important;
}


.navbar {
    background: #fff !important;
    transition: 1.5s;
}
.nav-link{
    padding: 0 30px !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:visited{
    color: rgba(75, 75, 75, 0.911);

}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited{
    color: rgba(75, 75, 75, 0.911);
    font-size: 2.5rem;
    font-weight: 600;
 }
 .container{
    align-items: center;
    justify-content: center;
    max-width: 90%;
    padding-right:0 !important;
    padding-left: 0 !important;
    
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    margin-top: 7rem !important;
}
.text{
 float: right;
}

#about{
    margin-top: 95px !important;
    height: 50rem !important;
    width: 70rem !important;
    padding-right:0 !important;
    padding-left: 0 !important;
}

.headerText h2{
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    margin-top:5rem;
    
}
.headerText p{
    text-align: left;
    margin: 35px 85px 1px 60px !important;
    font-size: 16px !important;
}
.headerText p:nth-child(2){
    text-align: left !important;
}
section :nth-child(1){
    background-color: #F0F3F6;
}
.contact{
    margin:0 auto ;
    
}

.contact .form-control{
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    height: 50px;
    width: 125%;
    border: 1px solid black;
    background: rgb(255, 255, 255);
    color: #fff;
    font-size: 1.25rem;
    
}
.contact .form-control:hover,
.contact .form-control:focus{
    border: none;
    border-bottom: 2px solid rgb(169, 182, 184);
    box-shadow: none;

}

.form-group:nth-child(4){
    height: 120px;
    }
.contact .textarea {
    min-height: 100%;

}
.btnD1{
    border: 2px solid #fff;
    color: #000;
    background: #fff;
    border-radius: 50px;
    font-size: 1.15rem;
    outline: none;
    font-weight: 500;


}
footer{
    background: #fff;
    padding: 50px 0 0;

}
.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
    margin: 0 10px;

}
.sci li a{
    color: #000;
    font-size: 1.2em;
    transition: 0.5s;
}
.sci li a:hover{
    color: rgb(56, 56, 56);
}
.cpryt{
    text-align: center;
    color: #777;
    margin-top: 20px;
}
.cpryt a{
    color: #777;
}   
.cpryt a:hover{
    color: rgb(56, 56, 56);
}
@media (min-width: 300px) and (max-width: 991.98px){
 
        
    #about{
        margin-top: 95px !important;
        height: 64vh !important;
        width: 100% !important;
        padding-left: 1px !important;
        padding-right: 1px !important;
    }
    
    .about-heading{
        margin-top: 5rem !important;
    }
        
    h2{
        font-size: 2rem !important; 
        margin-bottom:20px !important;
        margin-top: 0rem !important;
    }
    .contact .form-control {
        width: 100%;
    }
    .headerText p{
        text-align: left;
        margin:8% 11% 1% 8%  !important; 
    }
    
    .row {
        margin-right: 0;
        margin-left: 0;
   }
    .sci{
        
        font-size: 13px;
        margin-bottom:10px !important;
    }
    .cpryt{
        font-size: 12px;    
        margin-bottom: 16px !important;
        padding-top: 9px !important;
    }

}
