*{
    outline: none !important;
    
    scroll-behavior: smooth;
}
header{
    position: relative;
    z-index: 1000000;   
    background: rgb(228, 225, 225) !important;
}

p{
    font-size: 1.15rem;
}
.navbar {
    background: #fff !important;
    transition: 1.5s;
}
.nav-link{
    padding: 0 35px !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:visited{
    color: rgba(75, 75, 75, 0.911);

}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited{
    color: rgba(75, 75, 75, 0.911);
    font-size: 2.5rem;
    font-weight: 600;
 }
 button{
     background-color: transparent;
     border : solid rgba(225, 225, 225, 1) 1px;
     cursor: pointer !important;
     color: #fff;
 }
 .container {
    max-width: 90%;
    padding-right:0 !important;
    padding-left: 0 !important;
}
 .banner{
     position: relative;
     top: 0;
     width: 100%;
     height: 100vh;
 
     background-size: cover;
     margin-bottom: 0 auto;
 }
.height100p{
    height: 100vh;
}
.h100{
    height: 100%;
}
.contentBox{
    background-image: url(../images/Index\ foto2.jpg);
    background-size: cover;
    height : 100%;  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-top: 95px !important;
}
.contentBox h1{
    font-weight: 100%;
    color:#fff;
    text-transform: uppercase;
    font-size: 4rem;
}
.maas-food{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    text-align: right;
    position: absolute;
    text-align: center;
    right:13%;
    top:30%;
}
.contentBox p{
    color:#fff;
    font-size: 1.3rem;
}
footer{
    background: #fff;
    padding: 50px 0 0;

}
.sci{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
    margin: 0 10px;

}
.sci li a{
    color: #000;
    font-size: 1.2em;
    transition: 0.5s;
}
.sci li a:hover{
    color: rgb(56, 56, 56);
}
.cpryt{
    text-align: center;
    color: #777;
    margin-top: 20px;
}
.cpryt a{
    color: #777;
}   
.cpryt a:hover{
    color: rgb(56, 56, 56);
}

@media (min-width: 300px) and (max-width: 905.98px){
  
    
    .container {
        max-width: 90%;
    }

    .maas-food{
        top:33%;
        position: inherit;
        margin-left: 100px;
    }
    
    .maas-food p {
        margin-top: -30px;
    }

    h1{
        font-size: 2.5rem !important;
    }

    .sci{
        
        font-size: 13px;
        margin-bottom:10px !important;
    }

    .cpryt{
        font-size: 12px;
    }

    .contentBox{

        background-position: 8% 92%;
    }

}

@media (min-width: 300px) and (max-width: 495px){
    .navbar-toggler { 
        margin-left: 66% ;
        position: fixed;
      
    }
    }